{% extends "base.html" %}

{% block title %}
    {{ film.name }}
{% endblock %} title %}


{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-3 p-1">
                <img src="{{ film.poster }}"
                     class="card-img-top" alt="...">
            </div>
            <div class="col-md-7 col-lg-9 p-3">
                <h3>
                    {{ film.name }}
                </h3>
                <p>
                    Описание: {{ film.desc }}
                </p>
            </div>
        </div>
    </div>
    <form class="m-3 p-3">
        <hr>
        <div class="row align-items-center">
            <div class="col-auto">
                <h1 class="fw-bold text-success">5</h1>
            </div>
            <div class="col">
                <p class="fw-bold">Петров Иван</p>
                <p>ННнгпннгирругрщугк каугшрщгшкгйрзщгрц акацуйшщарцгукартцуй акшруйгатрйук аукшйрцогкйцз4ашо5екпз йр4арйракывг890фыо8фуц9</p>
            </div>
        </div>
        <hr>
        <div class="mb-3">
            <label for="Comment" class="form-label fw-bold">Комментарий</label>
            <textarea class="form-control" id="Comment" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <p class="fw-bold">
                Оценка
            </p>
            <div class="form-check form-check-inline">
                <input class="form-check-input btn-success" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                       value="option1">
                <label class="form-check-label" for="inlineRadio1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input btn-success" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                       value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input btn-success" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                       value="option3">
                <label class="form-check-label" for="inlineRadio3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input btn-success" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                       value="option4">
                <label class="form-check-label" for="inlineRadio4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input btn-success" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                       value="option5">
                <label class="form-check-label" for="inlineRadio5">5</label>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Отправить</button>
    </form>
{% endblock %}